# sam.gov 
SAM_API_URL=https://api.sam.gov/opportunities/v2/search
SAM_API_KEY=# api key from sam.gov

# private 
FAIRFAX_COUNTY_API_URL=https://fairfaxcounty.bonfirehub.com/portal/?tab=openOpportunities
PRINCE_WILLIAM_COUNTY_API_URL=https://procurement.opengov.com/portal/pwcva/projects

# email 
RESEND_API_KEY=# api key from resend.com
EMAIL_FROM=onboarding@resend.dev
EMAIL_TO=# resend account email
PUBLIC_BASE_URL=http://localhost:3000

# cron 
CRON_SECRET=# bearer authorization
